asgiref==3.3.0
certifi==2021.5.30
click==7.1.2
Django==3.1.2
Flask==1.1.2
itsdangerous==2.0.1
Jinja2==2.11.2
MarkupSafe==2.0.1
mpmath==1.2.1
pip==21.2.3
psycopg2==2.8.6
pytz==2020.1
setuptools==52.0.0.post20210125
sqlparse==0.4.1
sympy==1.8
Werkzeug==1.0.1
wheel==0.36.2
wincertstore==0.2
