<form action="{% url 'poly:output' %}" method="GET">
{% csrf_token %}
degree
<fieldset>
        <input type="text" name="degree" placeholder="degree = 2,3..." />       
</fieldset>
discriminant
<fieldset>
        <input type="text" name="discriminant" placeholder="discriminant = -1000,-1 ..." />       
</fieldset>
cm
<fieldset>
        <input type="text" name="cm" placeholder="cm" />       
</fieldset>
signature
<fieldset>
        <input type="text" name="signature" placeholder="signature" />       
</fieldset>
galois_group
<fieldset>
        <input type="text" name="galois_group" placeholder="nTk or n,k" />       
</fieldset>

<input type="submit" value="submit">
</form>
