<h3 >polynomials</h3>
  <ul>
    {% for inputs in input_list %}
      <li>
        {{inputs}}
      </li>
    {% endfor %}
  </ul>
<table summary="">
  <tr><th>Polynomials</th><th>discriminant</th></tr>
   {% for polys, discs in queryset %}   
      <tr>   
        <td>{{polys}}</td>
        <td>{{discs}}</td>
      </tr> 
    {% endfor %}
</table> 

<!-- <div class="row"> 
    <ul>
        {% for polys in queryset %}
          <li>
            {{polys}}
          </li>
        {% endfor %}
    </ul>
</div> -->
